extends ../layouts/default

block content
  h1 #{title}

  form(action="/update", method="post", class="score-form")
    .score-form__team
      h3 Home team
      select(name="homeTeam")
        each team in teams
          option(value="#{team.name}") #{team.name}
      h3 Score
      input(type="number", name="homeScore", class="score-form__score")
    
    .score-form__team
      h3 Away team
      select(name="awayTeam")
        each team in teams
          option(value="#{team.name}") #{team.name}
      h3 Score
      input(type="number", name="awayScore", class="score-form__score")

    button(type="submit", class="score-form__submit") Register
